@use "../../styles/partials/colors.scss";
@use "../../styles/partials/fonts.scss";
@use "../../styles/partials/mixins.scss";

@keyframes loading {
  0% {
    opacity: 0;
    top: 1rem;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.testimonials {
  background-color: #ffcec7;
  padding: 0;
  &__container {
    position: relative;
    animation-name: loading;
    animation-duration: 1s;
  }
  &__title {
    top: 8rem;
    position: relative;
    z-index: 6000;
  }
}

@media (orientation: portrait) {
  .testimonials {
    @include mixins.section-margin;
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (orientation: landscape) {
  .testimonials {
    position: relative;
    height: 50rem;
    &__background {
      height: 50rem;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
    &__title {
      width: 80%;
      margin: 1rem auto;
    }
    &__container {
      margin: auto;
      width: 80%;
      height: 20rem;
      display: flex;
      justify-content: center;
    }
  }
}
