@font-face {
    font-family: Primary;
    src: url("../../data/fonts/Abril_Fatface.woff");
}

@font-face {
    font-family: Secondary;
    src: url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
}