@use "../../styles/partials/colors.scss";
@use "../../styles/partials/mixins.scss";

@keyframes loading {
    0% {
      opacity: 0;
      left: 1rem;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

.about {
  @include mixins.section-margin;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation-name: loading;
    animation-duration: 1s;
    &__title {
        width: 100%;
        margin: 1rem auto;   
    }
    &__text {
      margin: 0 5rem;
    }
    &__image {
      & > img {
      max-width: 75%;
      }
    }
    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (orientation: portrait) {
  .about {
    margin: 2rem;
   flex-direction: column;
   &__image {
    & > img {
      width: 70%;
    }
  }
  &__text {
    margin: 0;
  }
}
}

@media (orientation: landscape) {
  .about {
    &__container {
      margin: auto;
    }
    &__text {
      max-width: 40rem;
    }
  }
}