@use "../../styles/partials/colors.scss";
@use "../../styles/partials/fonts.scss";

.header {
    margin-left: -1rem;
    height: 35rem;
    width: 100vw;
    &__title {
        padding: 13rem 0 0 5rem;
        font-size: 2.5rem;
        text-shadow: 4px 4px colors.$White;
        line-height: 1.6;
        text-align: left;
    }
    &__container {
        background-color: colors.$White;
        position: fixed;
        z-index: 5001;
        top: 0;
        left: 0;
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
        margin: auto;
    }
    &__link {
        text-decoration: none;
        font-family: Primary;
        color: colors.$Black;
        &:visited {
            color: colors.$Black;
        }
        &:hover {
            color: colors.$OffBlack;
        }
    }
}

// @media (orientation: portrait) {
//     .header {
       
       
//     }
// }

// @media (orientation: landscape) {
//     .header {
  
//     }
// }