@use "../src/styles/partials/colors.scss";
@use "../src/styles/partials/fonts.scss";


.App {
  text-align: center;
  height: calc(100vh - 2rem);
}

section {
  padding: 1rem;
}
body, #root {
  overflow-x: hidden;
  height: 100vh;
  background-color: colors.$White;
}

h2, a {
  font-family: Primary;
}

p, li {
  font-family: Secondary;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1s ease-out forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.hidden {
  display: none;
}

.display {
  display: flex;
}